<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称空间,最后面改成接口名
-->
<mapper namespace="com.itheima.reggie.mapper.SetmealMapper">

    <!--起售停售-->
    <update id="updateStatus">
        update setmeal set status = #{status}
        <where>
            <foreach collection="ids" item="id" open="id in(" close=")" separator=",">
                #{id}
            </foreach>
        </where>

    </update>

    <!--逻辑删除字段-->
    <update id="updateWithDeletedId">
        update setmeal set is_deleted = 1
        <where>
            <foreach collection="ids" item="id" open="id in(" close=")" separator=",">
                #{id}
            </foreach>
        </where>

    </update>
</mapper>